// PAGE
$bg-color: #1F2327;
$bg-color-white: #fff;
$text-color: #fff;
$link-color: #FF623D;
$info-color: #748AA1;

// NAVI
$navi-bg-color: #000;
$navi-tab-inactive: #fff;
$navi-tag-active: #FF623D;
$navi-icon-inactive: #FF623D;
$navi-icon-active: #fff;

// CARD
$card-bg-color: #292E33;
$card-box-shadow: 0, 4, 1, rgba(0, 0, 0, 0.2);
