@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$body-font: 'Roboto', sans-serif;
$headers-font: 'Roboto', sans-serif;
$font-size-base: 1rem;

h1 {
  font-size: $font-size-base * 2;
}

h2 {
  font-size: $font-size-base * 1.5;
}

h3 {
  font-size: $font-size-base;
}

p {
  font-size: $font-size-base;
}

.info-text {
  font-size: $font-size-base * 0,85;
}
