.main-container {
  margin-left: 100px;
  margin-right: 40px;
}

.property_card {
  h1 {
    color: $text-color;
    margin-bottom: $spacer * 2;
  }
}

.fa-plus {
  color: $link-color;
}

.sub-header-properties {
  margin-bottom: 100px;
}

.stage-project.button {
  border: 1px solid $link-color;
  border-radius: $spacer;
  color: $link-color;
  font-size: 14px;
  // width: 100px;
  display: inline-block;
  margin-right: $spacer * 2;
  padding: $spacer/2 $spacer*2;
}

.create-property {
  font-size: 14px;
}

.chat-box {
  margin-top: 40px;
  padding: $spacer/2 $spacer*2;
}

.property-new {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $spacer * 4;

  h3 {
    margin-bottom: $spacer * 2;
  }
}

.gray-out {
  opacity: 0.3;

  img {
    opacity: 0.5;
  }
}

// .property-manually {
//   width: 50%;
// }

// .property-web {
//   width: 50%;
// }
