.main-container {
  margin-left: 100px;
  margin-right: 40px;
}

.property_card {
  h1 {
    color: $text-color;
    margin-bottom: $spacer * 2;
  }
}

.fa-plus {
  color: $link-color;
}

.sub-header-properties {
  margin-bottom: 100px;
}

.stage-project.button {
  border: 1px solid $link-color;
  border-radius: $spacer;
  color: $link-color;
  font-size: 14px;
  display: inline-block;
  margin-right: $spacer * 2;
  padding: $spacer/2 $spacer*2;
}

.change-project.button {
  border: 1px solid $link-color;
  border-radius: $spacer;
  color: $link-color;
  font-size: 14px;
  // width: 100px;
  display: inline-block;
  margin-right: $spacer * 2;
  padding: $spacer/2 $spacer*2;
  &:hover {
    background-color: $link-color;
    color: $text-color;

    a {
      text-decoration: none;
      color: $text-color;
    }
  }
}

.create-property {
  font-size: 14px;
  margin-right: $spacer;

  &:hover {
    text-decoration: none;
    color: $info-color;
  }
}

.vote-message {
  font-size: 2rem;
  padding: $spacer * 2;
  margin-bottom: $spacer * 2;
  background-color: #292E33;
  color: #fff;
  border-radius: $spacer;
}

.chat-box {
  margin-top: 40px;
  // padding: $spacer/2 $spacer*2;
}

.property-new {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $spacer * 4;

  h3 {
    margin-bottom: $spacer * 2;
  }
}

// .property-manually {
//   width: 50%;
// }

// .property-web {
//   width: 50%;
// }

.stage {
  color: $link-color !important;
}

// .votes-delete {
//   margin-left: 2*$spacer;
//   margin-top: 1*$spacer;
// }
