.property-container {
  display: flex;
  justify-content: left;
  margin-left: 100px;
  margin-right: 10px;
  align-content: flex-start;

}

img {
  width: 100%;
}

#carouselExampleIndicators > div {
  img {
    height: 100%;
  }
}

.carousel {
  height: 300px;
}

.carousel-control-prev, .carousel-control-next {
  top: 10% !important;
  color: $link-color !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 50px;
  height: 50px;
}

.carousel-indicators {
  top: 0;
}

.property-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $spacer * 4;
  margin-bottom: 6rem;
}

.property-left {

}

.property-right {
}

.property-vote {
  background-color: #292E33;
  padding: $spacer * 2;
  border-radius: $spacer;
  border: 1px solid $link-color;
  z-index: 100;
}

.carousel-item {
  height: 400px !important;
  transition: none !important;
}

.carousel.slide {
  height: 400px;
}

.br-theme-css-stars .br-widget a.br-selected:after {
  color: $link-color !important;
}

.br-theme-css-stars .br-widget a.br-active:after {
  color: $link-color !important;
}
