<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
<!-- <div id="messages" data-chatroom-id="<%= @chatroom.id %>" style="overflow-y:auto; height:500px;"> -->
  <% @chatroom.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>
