<div class="header">
  <h1><%= title %></h1>
  <%= @user.id %>
  <div class="form-outline">
     <input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
   </div>
</div>




