<%= render 'pages/sidebar' %>
<%= render 'pages/header', title: "Projects" %>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<br>
<p><%= link_to 'create a project', projects_path %></p>
