<div class="main-wrapper home-img">
  <div class="floating-img"><img src="https://res.cloudinary.com/dwbun34na/image/upload/v1613324913/better-rent/img4_tbxhyc.jpg" alt=""></div>
  <div class="floating-img-reverse"><img src="https://res.cloudinary.com/dwbun34na/image/upload/v1613324913/better-rent/img2_irgt0h.jpg" alt=""></div>
  <div class="floating-img"><img src="https://res.cloudinary.com/dwbun34na/image/upload/v1613324914/better-rent/img3_kctqcz.jpg" alt=""></div>

  <div class="floating-img-reverse"><img src="https://res.cloudinary.com/dwbun34na/image/upload/v1613324913/better-rent/img1_pzlwlj.jpg" alt=""></div>

  <div class="card-home">
      <img src="https://res.cloudinary.com/lewagon-training/image/upload/v1614273431/BetterRent_wng3lj.png" alt="Logo">
      <p>Making Better Office Renting Decisions</p>
      <%= link_to "Rent Your Place", projects_path, class: 'card-home-button' %>
  </div>
  <div class="floating-img-reverse"><img src="https://res.cloudinary.com/dwbun34na/image/upload/v1613325059/better-rent/img5_xpzojd.jpg" alt=""></div>

  <div class="floating-img"><img src="https://res.cloudinary.com/dwbun34na/image/upload/v1613325191/better-rent/img6_xh4jqc.jpg" alt=""></div>
  <div class="floating-img-reverse"><img src="https://res.cloudinary.com/dwbun34na/image/upload/v1613325287/better-rent/img7_qdiuqc.jpg" alt=""></div>
  <div class="floating-img"><img src="https://res.cloudinary.com/dwbun34na/image/upload/v1613325288/better-rent/img8_hunhhu.jpg" alt=""></div>
</div>
