<%#= render 'pages/sidebar' %>
<%#= render 'pages/header', title: "Projects" %>

<div class="home-img">
<!--   <div class="container"> -->
    <div class="card-home">
      <div class="home-text">
        <h1>Better Rent</h1>
        <h4>making better office renting decisions</h4>
      <button type="button-project"><%= link_to "start here", projects_path %></button>
      </div>
    </div>
<!--   </div> -->
</div>

