.properties {
  display: flex;
}

.property-cards {
  width: 75%;
  // MOSAIK STYLE
  column-count: 3;
  column-gap: 0.25rem;
}

.property-card {
  display: inline-block;
  width: 330px;
  background-color: $card-bg-color;
  padding: 1rem;
  border-radius: $spacer;
  margin: 0 1rem 1rem 0;

  button {
    border: none;
    border-radius: $spacer;
    border: 1px solid $link-color;

    font-size: 0.85rem;
    background-color: transparent;
    padding: $spacer $spacer * 3;
    transition: all 0.3s;

    a {
      color: $text-color;
      text-decoration: none;
      color: $link-color;
    }

    &:hover {
      background-color: $link-color;

      a {
        color: #fff;
      }
    }
  }
}

.property-address {
  margin-top: $spacer;
  font-size: $font-size-base;
}

.property-info {
  font-size: 0.85rem;
  color: $info-color;
  margin-bottom: 50px;
}

.property-CTA {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-eye {
  font-size: 2rem;
}

.property-map {
  img {
    border-style: none;
  }
}

.CTA {
  font-size: 0.85rem;
  color: $info-color;
  margin-right: 2px;

  &:hover {
    color: $link-color;
    text-decoration: none;
  }
}
