.form-property {
  label {
    color: $info-color;
    font-size: 1rem * 0.85;
  }

  input, select {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid $link-color;
    color: $link-color;
  }

  input[type="submit"] {
    background-color: $link-color;
    border: 1px solid $link-color;
    padding: $spacer $spacer * 6;
    color: $text-color;
    transition: all 0.3s ease-in-out;
    margin-bottom: $spacer * 2;

    &:hover {
      border-radius: $spacer * 20;
      background-color: $link-color;
      color: $text-color;
    }
  }
}
