/* use this file to style the horizontal header at the top of the dashboard */

.header {
  // margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 40px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #292E33;

  h1 {
    margin-bottom: 0;
  }
}

.form-outline {
  input {
    background-color: #292E33;
    border-color: #292E33;
    font-size: 14px;
    width: 300px;
  }
}
