.message-container {
  width: auto;
  height: auto;
  background-color: $card-bg-color;
  padding: 1rem;
  border-radius: $spacer;
  margin: 0 0.8rem 0.8rem 0;
}

.message-content {
  padding: $spacer $spacer * 4.5;
}

.input-chat {
  background-color: $card-bg-color;
  border-radius: $spacer;
  border-color: $text-color;
}

.message-user {
  font-weight: bold;
}

.message-timestamp{
  text-align: right;
}
