.progress-container {
  margin: 60px auto;
  width: 400px;
  text-align: center;
}

.progress-container .progress {
  margin: 0 auto;
  width: 400px;
}

.progress {
  padding: 4px;
  background: $navi-tab-inactive;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}


#twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: $navi-tag-active;
}

#fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: $navi-tag-active;
}

#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: $navi-tag-active;
}

.radio {
  display: none;
}

.label {
  display: inlineblock;
  margin: 0 5px 15px;
  padding: 3px 8px;
  color: $text-color;
  border-radius: 3px;
  cursor: pointer;
}

.radio:checked + .label {
  color: $navi-tag-active;
  background: $navi-tab-inactive;
}
