// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 60px;
  height: 100%;
  background: $navi-bg-color;
  position: fixed;
  top: 0;
}

.avatar {
  margin: $spacer * 2 $spacer;
}

.icon-bar {
  text-align: center;
  margin-top: 200px;
}

li {
  margin-top: $spacer;
}

ul li {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
  background-color:$navi-tab-inactive;
  color: $navi-icon-inactive;
  list-style-type: none;
  border-radius: 0px 5px 5px 0px;
  width: 110%;
}

ul li:hover {
  background-color: $navi-tag-active;
  color: $navi-icon-active;
  border-radius: 0px 5px 5px 0px;
  width: 110%;
}

// #nav > a:nth-child(2):visited {
//   background-color: #000;
//   color: white;
//   border-radius: 0px 5px 5px 0px;
//   width: 110%;
//   transition: 0.3s ease;
// }

ul li.active {
  background-color: $navi-tag-active;
  color: $navi-icon-active;
  border-radius: 0px 5px 5px 0px;
  width: 110%;
  // transition: 0.3s ease;
}

.fa-plus-circle {
  color: $navi-icon-inactive;
  position: absolute;
  bottom: $spacer * 2;
  font-size: 28px;
  margin-left: $spacer * 2;
  margin-right: $spacer * 2;
  margin-bottom: $spacer * 5;
}

.fa-sign-out-alt {
  color: $navi-icon-inactive;
  position: absolute;
  bottom: $spacer * 2;
  font-size: 28px;
  margin-left: $spacer * 2;
  margin-right: $spacer * 2;
}


// .fa-plus-circle:hover {
//   color: $navi-icon-inactive;
// }
